<%= form_with scope: :masterflower, url: masterflowers_path, local: true do |form| %>
  <p>
    <%= form.label :masterflower_name %>:
    <%= form.text_field :masterflower_name, class: "text-field"%>
  </p>

  <p>
    <%= form.label :masterflower_price %>:
<<<<<<< HEAD
    <%= form.text_field :masterflower_price, class: "text-field", required: true %>
=======
    <%= form.text_field :masterflower_price, class: "text-field" %>
>>>>>>> db966d9814db23602d85a57d6c4a0e395835e246
  </p>

  <p>
    <%= form.label :vendor %>:
    <%= form.text_field :vendor, class: "text-field" %>
  </p>

  <p>
    <%= form.submit class: "btn btn-secondary"%>
  </p>
<% end %>
