<%= form_with scope: :masterflower, url: masterflower_path(@masterflower), local: true, method: :patch do |form| %>

  <p>
    <%= form.label :masterflower_name %>:
    <%= form.text_field :masterflower_name, class: "text-field" %>
  </p>

  <p>
    <%= form.label :masterflower_price %>:
    <%= form.text_field :masterflower_price, class: "text-field", :value => form.masterflower.masterflower_price %>
  </p>

  <p>
    <%= form.label :vendor %>:
    <%= form.text_field :vendor, class: "text-field" %>
  </p>

  <p>
    <%= form.submit class: "btn btn-secondary"%>
    <%= link_to masterflower_path(@masterflower), method: :delete, data: { confirm: 'Are you sure?' } do %>
      <button role="button" href="" class="btn btn-secondary">
        <i class="fas fa-trash"></i>
      </button>
    <% end %>
  </p>
<% end %>
