<h1>Create a new flower</h1>

<%= form_with scope: :masterflower, url: masterflowers_path, local: true do |form| %>
  <p>
    <%= form.label :masterflower_name %>
    <%= form.text_field :masterflower_name %>
  </p>

  <p>
    <%= form.label :masterflower_price %>
    <%= form.text_field :masterflower_price %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
