<h3>Recipes:</h3>

<div class="accordion" id="recipes">

  <div class="card">
    <div class="card-header" id="headingNewRecipe">
      <button class="btn btn-link" role="button" data-toggle="collapse" data-target="#collapseNewRecipe" aria-expanded="false" aria-controls="collapseNewRecipe">
        <h4>New Recipe</h4>
      </button>
    </div>

    <div class="collapse" id="collapseNewRecipe" aria-labelledby="NewRecipe" data-parent="#recipes">
      <div class="card-body">
        <%= render "recipes/recipes_new" %>
      </div>
    </div>
  </div>

  <% @recipes.each do |recipe| %>
    <% @recipe = recipe %>

    <div class="card">
      <div class="card-header" id="<%= recipe.recipe_name %>Header">
        <button class="btn btn-link" role="button" data-toggle="collapse" data-target="#collapseRecipe<%= recipe.id %>" aria-expanded="false" aria-controls="Recipe<%= recipe.recipe_name %>">
          <h4><%= recipe.recipe_name %> x <%= recipe.recipe_quantity %></h4>
        </button>

        <a class="btn btn-secondary" role="button" data-toggle="collapse" href="#collapseRecipeEdit<%= recipe.id %>" aria-expanded="false" aria-controls="EditRecipe<%= recipe.recipe_name %>">
          <i class="fas fa-pencil-alt"></i>
        </a>
      </div>

      <div class="collapse" id="collapseRecipeEdit<%= recipe.id %>" aria-labelledby="EditRecipe<%= recipe.recipe_name %>" data-parent="#recipes">
        <div class="card-body">
          <%= render "recipes/recipes_edit" %>
        </div>
      </div>

      <div class="collapse" id="collapseRecipe<%= recipe.id %>" aria-labelledby="Recipe<%= recipe.recipe_name %>" data-parent="#recipes">
        <div class="card-body">
          <p>
            <% @flowers = recipe.flowers %>
            <%= render "flowers/flowers" %>
          </p>
        </div>
      </div>

    </div>

  <% end %>

</div><!--End Accordion-->
