<%= link_to 'View all recipes', wedding_recipes_path(@wedding) %>

<h1>Edit <%= @wedding.wedding_name %>'s recipe for <%= @recipe.recipe_name %></h1>

<%= form_with scope: :recipe, url: wedding_recipe_path(@wedding, @recipe), local: true, method: :patch do |form| %>

  <p>
    <%= form.label :recipe_name %>
    <%= form.text_field :recipe_name %>
  </p>

  <p>
    Recipe Ingredients:
    <% @recipe.flowers.each do |ingredient| %>
    <p>
      <%= ingredient.flower_name %> <%= ingredient.quantity %> <%= link_to 'Edit Ingredient', edit_wedding_recipe_flower_path(@wedding, @recipe, ingredient) %> <%= link_to 'Delete Ingredient' %>
    </p>
    <% end %>
    <%= link_to 'Add Ingredient', new_wedding_recipe_flower_path(@wedding, @recipe) %>
  </p>

  <p>
    <%= form.label :recipe_quantity %>
    <%= form.text_field :recipe_quantity %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
