<h1>Viewing All Recipes for <%= link_to @wedding.wedding_name, wedding_path(@wedding) %></h1>

<% @recipes.each do |recipe| %>
  <h2>Recipe Name: <%= link_to recipe.recipe_name, wedding_recipe_path(@wedding, recipe) %></h2>
  <p>
    <h2>Recipe Ingredients:</h2>
    <% recipe.flowers.each do |ingredient| %>
      <h3><%= ingredient.flower_name %> <%= ingredient.quantity %></h3>
    <% end %>
  </p>
  <h2>Recipe Quantity: <%= recipe.recipe_quantity %></h2>
  <h2>Recipe ID: <%= recipe.id %></h2>
<% end %>

<%= link_to 'Create new recipe', new_wedding_recipe_path(@wedding) %>
