<%= link_to 'View all recipes', wedding_recipes_path(@wedding) %>

<p>
  <h1>Recipe Name:</h1>
  <h2><%= @recipe.recipe_name %></h2>
</p>

<p>
  <h1>Recipe Ingredients:</h1>
  <% @recipe.flowers.each do |ingredient| %>
  <h2><%= ingredient.flower_name %> <%= ingredient.quantity %></h2>
  <% end %>
</p>

<p>
  <h1>Recipe Quantity per <%= @wedding.wedding_name %>:</h1>
  <h2><%= @recipe.recipe_quantity %></h2>
</p>

<%= link_to 'Edit', edit_wedding_recipe_path(@wedding, @recipe) %>
<%= link_to 'Delete' %>
