<% recipe = @recipe %>

<div class="container" id="wedding-frame">
  <div class="row">
    <div class="col-sm-4">
      <h4 id="wedding-name"><%= @wedding.wedding_name %>'s</h4>
      <h4>
        <a id="wedding-name" role="button" data-toggle="collapse" href="#collapseRecipeEdit<%= @recipe.id %>" aria-expanded="false" aria-controls="collapseExample">
          <%= recipe.recipe_name %>
        </a>
      </h4>

      <h4 id="wedding-date">
        Recipe Quantity: <%= @recipe.recipe_quantity %>
      </h4>

      <h4 id="total-price">
        Notes: <%= recipe.notes %>
      </h4>

      <% if recipe.retail_price.nil? then %>
        <h4 id="total-price">Retail: Not Set</h4>
        <h4 id="total-price">Cost: $<%= number_with_precision(recipe.recipe_total_price, precision: 2) %></h4>
      <% else %>
        <h4 id="total-price">Retail: $<%= number_with_precision(recipe.retail_price * recipe.recipe_quantity, precision: 2) %></h4>
        <h4 id="total-price">Gds. Cost: $<%= number_with_precision(recipe.hard_goods.sum(:hard_good_total_price).to_f * recipe.recipe_quantity, precision: 2)%></h4>
        <h4 id="total-price">Fl. Cost: $<%= number_with_precision(recipe.flowers.sum(:flower_total_price).to_f * recipe.recipe_quantity, precision: 2)%></h4>
        <h4 id="markup">Markup:
          <% if recipe.recipe_total_price == 0 then %> Cost is $0 <% else %>
            <%= number_with_precision((recipe.retail_price* recipe.recipe_quantity)/recipe.recipe_total_price, precision: 2) %>
          <% end %>
        </h4>
      <% end %>

      <% recipearrayflowers = [] %>
      <% recipe.flowers.each do |flower| %>
        <% recipearrayflowers.push({flower.flower_name => flower.quantity * recipe.recipe_quantity}) %>
      <% end %>

      <% flowerssum = Hash.new(0) %>

      <% recipearrayflowers.each_with_object(flowerssum) do |hash, sum| %>
        <% hash.each { |key, value| sum[key] += value } %>
      <% end %>

      <% sortedflowerssum = flowerssum.sort{|a,b| a[0] <=> b[0] } %>

      <% sortedflowerssum.each do |flowername, flowersumquantity| %>
        <hr id="row-separator">
        <div class="row">
          <div id="flower-row" class="col-11"><%= flowername %>:</div>
          <div id="flower-row-number" class="col-1"><%= flowersumquantity %></div></br>
        </div>
      <% end %>

      <div class="collapse" id="collapseRecipeEdit<%= @recipe.id %>">
        <div class="well">
          <%= render "recipes_edit_small" %>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <% @flowers = recipe.flowers %>
      <%= render "flowers/flowers" %>
      <% @hard_goods = recipe.hard_goods %>
      <%= render "hard_goods/hard_goods" %>
      <% @notes = recipe.notes %>
      <%= render "notes/notes" %>
      <div class="row">
        <%= link_to "Back", wedding_path(@wedding.id), class: "btn btn-secondary", id: "update-button" %>
      </div>
    </div>

  </div>
</div>
