<%= form_with scope: :flower, url: wedding_recipe_flower_path(@wedding, @recipe, @flower), local: true, method: :patch do |form| %>
  <p>
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>

    <%= form.submit %>
    <%= link_to wedding_recipe_flower_path(@wedding, @recipe, @flower), method: :delete, data: { confirm: 'Are you sure?' } do %>
      <button role="button" href="">
        <i class="fas fa-trash"></i>
      </button>
    <% end %>
  </p>
<% end %>
