<%= form_with scope: :flower, url: wedding_recipe_flowers_path(@wedding, @recipe), local: true do |form| %>
  <p>
    <%= form.label :flower_name %>:
    <%= form.select :flower_name, options_for_flowers, :prompt => 'Select One' %>
  </p>

  <p>
    <%= form.label :quantity %>:
    <%= form.text_field :quantity %>
  </p>

  <p id="submit-button">
    <%= form.submit class: "btn btn-secondary" %>
  </p>
<% end %>
