<div class="accordion" id="ingredients">

  <div class="card">
    <div class="card-header" id="headingNewIngredient">
      <button class="btn btn-link" role="button" data-toggle="collapse" data-target="#collapseNewIngredient" aria-expanded="false" aria-controls="collapseNewIngredient">
        <h5>New Ingredient</h5>
      </button>
    </div>

    <div class="collapse" id="collapseNewIngredient" aria-labelledby="NewIngredient" data-parent="#ingredients">
      <div class="card-body">
        <%= render "flowers/flowers_new" %>
      </div>
    </div>
  </div>


  <% @flowers.each do |flower| %>
    <% @flower = flower %>

    <div class="card">
      <div class="card-header" id="<%= flower.flower_name %>Header">
        <button class="btn btn-link" role="button" data-toggle="collapse" data-target="#collapseIngredient<%= flower.id %>" aria-controls="Ingredient<%= flower.flower_name %>">
          <h5><%= flower.quantity %> x <%= flower.flower_name %></h5>
        </button>
      </div>

      <div class="collapse" id="collapseIngredient<%= flower.id %>" aria-labelledby="Ingredient<%= flower.flower_name %>" data-parent="#ingredients">
        <div class="card-body">
          <p>
            <%= render "flowers/flowers_edit" %>
          </p>
        </div>
      </div>
    </div><!--Ingredient End Card-->

  <% end %>

</div><!--End accordion-->
