<%= form_with scope: :flower, url: wedding_recipe_flowers_path(@wedding, @recipe), local: true do |form| %>
  <p>
    <%= form.label :flower_name %>:
    <%= form.select :flower_name, options_for_select(options_for_flowers), include_blank: true %>
  </p>

  <p>
    <%= form.label :quantity %>:
<<<<<<< HEAD
    <%= form.text_field :quantity, value: nil, class: "text-field", required: true %>
=======
    <%= form.text_field :quantity, value: nil, class: "text-field" %>
>>>>>>> db966d9814db23602d85a57d6c4a0e395835e246
  </p>

  <p id="submit-button">
    <%= form.submit class: "btn btn-secondary" %>
  </p>
<% end %>
