<h1>Edit <%= @recipe.recipe_name %>'s ingredient <%= @flower.flower_name %></h1>

<%= form_with scope: :flower, url: wedding_recipe_flowers_path(@wedding, @recipe, @flower), local: true do |form| %>
  <p>
    <%= form.label :flower_name %>:
    <%= @flower.flower_name %>
    <%= form.text_field :flower_name, hidden: :true %>
  </p>

  <p>
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
