<h1>Create a new recipe item for <%= link_to @recipe.recipe_name, wedding_recipe_path(@wedding, @recipe) %></h1>

<%= form_with scope: :flower, url: wedding_recipe_flowers_path(@wedding, @recipe), local: true do |form| %>
  <p>
    <%= form.label :flower_name %>
    <%= form.select :flower_name, options_for_flowers, :prompt => 'Select One' %>
  </p>

  <p>
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back' %>
