<div class="col-sm-6">
  <%= form_for @user do |form| %>
    <p>
      <%= form.label :username %>
<<<<<<< HEAD
      <%= form.text_field :username, required: true %>
=======
      <%= form.text_field :username %>
>>>>>>> db966d9814db23602d85a57d6c4a0e395835e246
    </p>

    <p>
      <%= form.label :password %>
<<<<<<< HEAD
      <%= form.text_field :password, required: true %>
=======
      <%= form.text_field :password %>
>>>>>>> db966d9814db23602d85a57d6c4a0e395835e246
    </p>

    <p>
      Password must be at least 8 characters long with 1 capital and 1 number.
    </p>

    <p id="submit-button">
      <%= form.submit class: "btn btn-secondary" %>
    </p>
  <% end %>
</div>
