<p style="text-align: center; width: 60%; margin-left: 20%;">
  The main purpose of the app is this page. The client's main objective, was to be able to create an excel sheet that has the total amount of each 
  flower they need to order in order to fulfill all of the weddings for the coming week. Originally the buyer created a spreadsheet each week using 
  recipes that resided in separate excel sheets. Now, the weddings on the wedding page act as the excel sheets, and the buyer only has to add the
  recipes they need to the cart. Once all the weddings they need to combine are in the cart, the app creates a spreadsheet with the totals for them.
</p>
<h1 id="title">Current Weddings in Cart </h1>

<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart. Please <%= link_to "go back", root_path %> and add some weddings to your cart.
  </p>
<% else %>
  <div class="row justify-content-around">

    <div class="col-sm-6 weddings-column">
      <% @order_items.each do |order_item| %>
        <div class="col-sm-12 cart-row">
          <%= render 'carts/cart_row', wedding: order_item.wedding, order_item: order_item %>
        </div>
      <% end %>
      <%= link_to "Export as spreadsheet", cart_path(format: "xlsx"), class: "btn btn-secondary" %>
    </div>

    <div class="col-sm-5 cart-sidebar">
      <h2 id="cart-total">Cart Total</h2>
      <div>

        <% cartarrayflowers = [] %>
        <% current_order.recipes.each do |recipe| %>
          <% recipe.flowers.each do |flower| %>
            <% cartarrayflowers.push({flower.flower_name => flower.quantity * recipe.recipe_quantity}) %>
          <% end %>
        <% end %>

        <% cartflowerssum = Hash.new(0) %>

        <% cartarrayflowers.each_with_object(cartflowerssum) do |hash, sum| %>
          <% hash.each { |key, value| sum[key] += value } %>
        <% end %>

        <% sortedcartflowerssum = cartflowerssum.sort{|a,b| a[0] <=> b[0] } %>

        <% sortedcartflowerssum.each do |flowername, flowersumquantity| %>
          <div class="row justify-content-between name-sums">
            <div class="col-sm-9"><%= flowername %>:</div><div class="col-sm-1" id="sum"><%= flowersumquantity %></div></br>
          </br>
          </div>
        <% end %>
      </div>
  </div>

<% end %>
