<h1 id="title">Current Weddings in Cart </h1>

<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart. Please <%= link_to "go back", root_path %> and add some weddings to your cart.
  </p>
<% else %>
  <div class="row justify-content-around">

    <div class="col-sm-8 weddings-column">
      <% @order_items.each do |order_item| %>
        <div class="col-sm-12 cart-row">
          <%= render 'carts/cart_row', wedding: order_item.wedding, order_item: order_item %>
        </div>
      <% end %>
      <%= link_to "Export as spreadsheet", cart_path(format: "xlsx"), class: "btn btn-secondary" %>
    </div>

    <div class="col-sm-3 cart-sidebar">
      <h2 id="cart-total">Cart Total</h2>
      <div>
        <% current_order.flowers.group(:flower_name).sum(:quantity).each do |flower_name, sum| %>
          <div class="row justify-content-between name-sums">
            <div class="col-sm-9"><%= flower_name %>:</div><div class="col-sm-1" id="sum"><%= sum %></div></br>
          </br>
          </div>
        <% end %>
      </div>
  </div>

<% end %>
