<%= form_with scope: :wedding, url: wedding_path(@wedding), local: true, method: :patch do |form| %>
  <p id="edit-form">
    <%= form.label :wedding_name %>:
    <%= form.text_field :wedding_name %>
  </p>

  <p id="edit-form">
    <%= form.label :wedding_date %>:
    <%= form.date_select(:wedding_date, :order => [:month, :day, :year]) %>
  </p>

  <p id="edit-form">
    <%= form.label :completed %>:
    <%= form.check_box :completed %>
  </p>

  <p>
    <%= form.submit %>
    <%= link_to wedding_path(@wedding), method: :delete, data: { confirm: 'Are you sure?' } do %>
      <button role="button" href="">
        <i class="fas fa-trash"></i>
      </button>
    <% end %>
  </p>
<% end %>
