<%= form_with scope: :wedding, url: wedding_path(@wedding), local: true, method: :patch do |form| %>
  <p>
    <%= form.label :wedding_name %>
    <%= form.text_field :wedding_name %>
  </p>

  <p>
    <%= form.label :wedding_date %>
    <%= form.date_select(:wedding_date, :order => [:month, :day, :year]) %>
  </p>

  <p>
    "Placeholder for 'Completed?'"
  </p>

  <p>
    <%= form.submit %>
    <button role="button" href="<% link_to 'delete' %>">
        <i class="fas fa-trash"></i>
    </button>
  </p>
<% end %>
