<h2>Recipes for <%= link_to @wedding.wedding_name, wedding_path(@wedding) %></h2>

<% @recipes.each do |recipe| %>

  <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseRecipe<%= recipe.id %>" aria-expanded="false" aria-controls="collapseExample">
    <%= recipe.recipe_name %>
  </a>

  <div class="collapse" id="collapseRecipe<%= recipe.id %>">
    <div class="well">
      <h3>Recipe Name: <%= link_to recipe.recipe_name, wedding_recipe_path(@wedding, recipe) %></h3>
      <p>
        <h3>Recipe Ingredients:</h3>
        <% recipe.flowers.each do |ingredient| %>
          <p><%= ingredient.flower_name %> <%= ingredient.quantity %></p>
        <% end %>
      </p>
      <h3>Recipe Quantity: <%= recipe.recipe_quantity %></h3>
      <h3>Recipe ID: <%= recipe.id %></h3>

      <% @recipe = recipe %>

      <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseRecipeEdit<%= recipe.id %>" aria-expanded="false" aria-controls="collapseExample">
        Edit <%= recipe.recipe_name %>
      </a>

      <div class="collapse" id="collapseRecipeEdit<%= recipe.id %>">
        <div class="well">
          <%= render "recipes/recipes_edit" %>
        </div>
      </div>

    </div>
  </div>

</br>

<% end %>

<%= link_to 'Create new recipe', new_wedding_recipe_path(@wedding) %>
