<div class="container" id="wedding-frame">
  <div class="row">
    <div class="col-sm-4">
      <h4>
        <a id="wedding-name" role="button" data-toggle="collapse" href="#collapseWeddingEdit<%= @wedding.id %>" aria-expanded="false" aria-controls="collapseExample">
          <%= @wedding.wedding_name %>
        </a>
      </h4>

      <h3 id="wedding-date">
        <%= @wedding.wedding_date.to_s(:long_ordinal) %>
      </h3>

      <h3 id="completed">
        <% if @wedding.completed === true %> Completed <% else %> Not Completed <% end %>
      </h3>

      <h3 id="total-price">
        Total Price: $<%= @wedding.total_price %>
      </h3>

      <div class="collapse" id="collapseWeddingEdit<%= @wedding.id %>">
        <div class="well">
          <%= render "edit" %>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <% @recipes = @wedding.recipes %>
      <%= render "recipes/recipes" %>
      <%= button_to "Update All", weddings_update_all_path(:wedding_id => @wedding.id), class: "btn btn-secondary", id: "update-button" %>

    </div>

  </div>
</div>
