<div class="container" id="wedding-frame">
  <div class="row">
    <div class="col-sm-4">
      <h4>
        <a id="wedding-name" role="button" data-toggle="collapse" href="#collapseWeddingEdit<%= @wedding.id %>" aria-expanded="false" aria-controls="collapseExample">
          <%= @wedding.wedding_name %>
        </a>
      </h4>

      <h4 id="wedding-date">
        <%= @wedding.wedding_date.to_s(:long_ordinal) %>
      </h4>

      <h4 id="completed">
        <% if @wedding.completed === true %> Completed <% else %> Not Completed <% end %>
      </h4>

      <h4 id="total-price">
        Retail Price:
        <% recipe_retail_prices = [] %>
        <% @wedding.recipes.each do |recipe| %>
          <% if recipe.retail_price.nil? %>
            <% recipe_retail_prices.clear %>
            <% recipe_retail_prices.push("Test") %>
          <% else %>
            <% recipe_retail_prices.push(recipe.retail_price * recipe.recipe_quantity) %>
          <% end %>
          <% break if recipe_retail_prices[0] == "Test" %>
        <% end %>
        <% if recipe_retail_prices[0] == "Test" %>
          Check Recipe Retail Prices
        <% else %>
          <% recipe_retail_prices = number_with_precision(recipe_retail_prices.sum, precision: 2) %>
          $<%= recipe_retail_prices %>
        <% end %>
      </h4>

      <h4 id="total-price">
        Cost: $<%= number_with_precision(@wedding.total_price, precision: 2) %>
      </h4>

      <% if recipe_retail_prices[0] == "Test" %>

      <% else %>
        <h4 id="profit">
          Profit: $<%= number_with_precision(recipe_retail_prices.to_f - @wedding.total_price, precision: 2) %>
        </h4>

        <h4 id="markup">
          <% if (((recipe_retail_prices.to_f - @wedding.total_price) / @wedding.total_price) * 100).nan? || (((recipe_retail_prices.to_f - @wedding.total_price) / @wedding.total_price) * 100).infinite? then %>

          <% else %>
            Markup: <%= number_with_precision(recipe_retail_prices.to_f / @wedding.total_price, precision: 2) %>
          <% end %>
        </h4>
      <% end %>

      <% weddingarrayflowers = [] %>
      <% @wedding.recipes.each do |recipe| %>
        <% recipe.flowers.each do |flower| %>
          <% weddingarrayflowers.push({flower.flower_name => flower.quantity * recipe.recipe_quantity}) %>
        <% end %>
      <% end %>

      <% flowerssum = Hash.new(0) %>

      <% weddingarrayflowers.each_with_object(flowerssum) do |hash, sum| %>
        <% hash.each { |key, value| sum[key] += value } %>
      <% end %>

      <% sortedflowerssum = flowerssum.sort{|a,b| a[0] <=> b[0] } %>

      <% sortedflowerssum.each do |flowername, flowersumquantity| %>
        <hr id="row-separator">
        <div class="row">
          <div id="flower-row" class="col-11"><%= flowername %>:</div>
          <div id="flower-row-number" class="col-1"><%= flowersumquantity %></div></br>
        </div>
      <% end %>

      <div class="collapse" id="collapseWeddingEdit<%= @wedding.id %>">
        <div class="well">
          <%= render "edit" %>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <% @recipes = @wedding.recipes %>
      <%= render "recipes/recipes" %>
      <div class="row">
        <%= button_to "Update All", weddings_update_all_path(:wedding_id => @wedding.id), class: "btn btn-secondary", id: "update-button" %>
        <%= button_to "Copy", weddings_copy_wedding_path(:wedding_id => @wedding.id), class: "btn btn-secondary", id: "copy-wedding-button" %>
        <%= button_to "Save", weddings_send_wedding_email_path(:wedding_id => @wedding.id), class: "btn btn-secondary", id: "send-wedding-email-button" %>
      </div>
    </div>

  </div>
</div>
