<div class="container">

  <div>
    <h2>
      <a role="button" data-toggle="collapse" href="#collapseWeddingEdit<%= @wedding.id %>" aria-expanded="false" aria-controls="collapseExample">
        <%= @wedding.wedding_name %>
      </a>
    </h2>

    <h3>
      <%= @wedding.wedding_date.to_s(:long_ordinal) %>
    </h3>

    <div class="collapse" id="collapseWeddingEdit<%= @wedding.id %>">
      <div class="well">
        <%= render "edit" %>
      </div>
    </div>

    <% @recipes = @wedding.recipes %>
    <%= render "recipes/recipes" %>
  </div>

</div>
