<%= link_to 'View All Weddings', weddings_path %>

<p>
  <h1>Wedding Name:</h1>
  <h2><%= @wedding.wedding_name %></h2>
</p>

<p>
  <h1>Wedding Date:</h1>
  <h2><%= @wedding.wedding_date.to_s(:long_ordinal) %></h2>
</p>

<p>
  <h1>Date Created:</h1>
  <h2><%= @wedding.created_at.to_s(:long_ordinal) %></h2>
</p>

<p>
  <h1>Recipes:</h1>
  <ul>
    <% @wedding.recipes.each do |recipe| %>
        <li>Recipe ID: <%= recipe.id %>,&nbsp Recipe Name: <%= link_to recipe.recipe_name, wedding_recipe_path(@wedding, recipe) %>,&nbsp Recipe Quantity: <%= recipe.recipe_quantity %></li>
        <%= link_to 'Edit', edit_wedding_recipe_path(@wedding, recipe) %>
        <%= link_to 'Delete' %>
    <% end %>
  </ul>
  <%= link_to 'Create New Recipe', new_wedding_recipe_path(@wedding) %>
</p>

<%= link_to 'Edit', edit_wedding_path(@wedding) %>
<%= link_to 'Delete' %>
